<div class="container">
      <div>
        <div id = "note"><a href="/restaurants/announcement"> Announcement</a></div>
        <img class = "mainImage" src = "/images/background.jpg" alt = "Main Image" style="max-width: 100%;">
        <img class = "logo" src = "/images/logo.png" alt = "Logo" style="max-width: 100px;">
        <h1 class="title">Food of Enspiral Dev Academy</h1>
      </div>
<div class="nameContainer">
  {{#each restaurants}}
  <div class="restaurant-list">
    {{!-- <a href="/restaurants/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a> --}}
   <div class = "ranking"><a href='/restaurants/{{id}}'>#{{rank}}. {{name}} {{rating}} </a></div>  
  </div>
  {{/each}}
</div>
    <div style="padding:5% 2%; margin:0%">
        <button class ="button"><a href="/submit">Submit</a></button>
      </div>
      <div style="padding:2% 2%; margin:0%">
      <a class="nav" href="/">Home</a>
      </div>
    </div>