
<div class="nameContainer">
  {{#each restaurants}}
  <div class="restaurant-list">
    {{!-- <a href="/restaurants/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a> --}}
   <div class = "ranking"><a href='/'>#{{id}}. {{name}} {{rating}} </a></div>  
  </div>
  {{/each}}
</div>