<form class="form" action="restaurants{{id}}" accept-charset="UTF-8" method="post">
  


  <div><input type="hidden" name="id" value={{id}}/></div>

  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
    
  <label for="description" class="form-item">
    Description:
    <input type="text" name="description" value="{{description}}">
  </label>
  
  <label for="image" class="form-item">
    Image:
    <input type="text" name="image" value="{{image}}">
  </label>
  
    <label for="review" class="form-item">
    Review:
    <input type="text" name="review" value="{{review}}">
   </label>

    <label for="rating" class="form-item">
    "Rating": 
    <select name="Stars"> 
    <option value="☆"selected>☆</option>
    <option value="☆☆">☆☆</option>
    <option value="☆☆☆">☆☆☆</option>
    <option value="☆☆☆☆">☆☆☆☆</option>
    <option value="☆☆☆☆☆">☆☆☆☆☆</option>
  </select>
  <br><br>
    <input type="text" name="rating" value="{{rating}}">
    </label>
  
  <input type="submit" name="" value="Submit">
  <div id="back"> <a href="/restaurants">nevermind</a></div>
</form>
