<form class="form" action="restaurants{{id}}" accept-charset="UTF-8" method="post">
  


  <div><input type="hidden" name="id" value="{{id}}"/></div>

  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
    
  <label for="Description" class="form-item">
    Description:
    <input type="text" name="Description" value="{{Description}}">
  </label>
  
  <label for="Image" class="form-item">
    Image:
    <input type="text" name="Image:" value="{{Image}}">
  </label>
  
    <label for="Review" class="form-item">
    Review:
    <input type="text" name="Review" value="{{Review}}">
   </label>

    <label for="Rating" class="form-item">
    "Rating": "☆☆☆☆☆"
    <input type="text" name="Rating" value="{{Rating}}">
    </label>
  
  <input type="submit" name="" value="Submit">
  <div id="back"> <a href="/restaurants">nevermind</a></div>
</form>
