<form class="form" action="/puppies/edit/{{id}}" method="post">
  
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="breed" class="form-item">
    Description:
    <input type="text" name="breed" value="{{breed}}">
  </label>
  
  <label for="owner" class="form-item">
    Image:
    <input type="text" name="owner" value="{{owner}}">
  </label>
  
    <label for="owner" class="form-item">
    Review:
    <input type="text" name="owner" value="{{owner}}">
   </label>

    <label for="owner" class="form-item">
    "Rating": "☆☆☆☆☆"
    <input type="text" name="owner" value="{{owner}}">
    </label>
  
  
  <input type="submit" name="" value="Submit">
</form>


"id": 1,
        "name": "Nandos",
        "description": "African, Portueges, Grill cuisine. Peri-peri chicken, take-away and dine in. Vegetarian friendly, Gluten free options.",
        "image": "/images/nandos.jpg",
        "review": " As a spicy-lover and a chicken-lover, I always enjoy my meal experiences at Nandos and it was the same here. Tried Chicken Pita meal and 1/4 Chicken w/ PERi PERi Chips. Liked it with spicy PERi PERi sauce as always :)",
        "rating": "☆☆☆☆☆"