<div class="restaurant">
  <img class="img-circle" src={{image}} alt="{{name}}">
  <h2>#{{rank}}. {{name}}</h2>
  <div class = "writing"><strong>Description:</strong> {{description}}</n></div>
  <div class = "writing"><strong>Review:</strong> {{review}}</div>
  <div class = "writing"><strong>Rating:</strong> {{rating}}</div>
</div>
    <div style="padding:5% 2%; margin:0%">
        <button class ="button"><a href="/submit">Submit</a></button>
      </div>
      <div style="padding:2% 2%; margin:0%">
      <a class="nav" href="/">Home</a>
      </div>